body{

font-family:Arial;
background:#eef2f7;

}


.container{

width:95%;
margin:30px auto;
background:white;
padding:25px;
border-radius:10px;

}



table{

width:100%;
border-collapse:collapse;

}


th{

background:#1d3557;
color:white;

}


td,th{

padding:10px;
border:1px solid #ddd;
text-align:center;

}


button{

padding:6px 12px;
border:none;
color:white;
border-radius:5px;
cursor:pointer;

}


.approve{

background:#28a745;

}


.reject{

background:#dc3545;

}
