body{

font-family:Arial;
background:#eee;

}


.challan{

width:800px;
margin:30px auto;
background:white;
padding:30px;

}



h2,h3{

text-align:center;

}


.info{

margin:20px 0;

}


table{

width:100%;
border-collapse:collapse;

}


th{

background:#1d3557;
color:white;

}


td,th{

border:1px solid #333;
padding:10px;
text-align:center;

}


button{

padding:10px 20px;
background:#1d72b8;
color:white;
border:0;

}



@media print{

button{

display:none;

}

body{

background:white;

}

}
