body{

font-family:Arial;
background:#eef2f7;

}


.container{

width:95%;
margin:30px auto;
background:white;
padding:25px;
border-radius:10px;

}


table{

width:100%;
border-collapse:collapse;

}


th{

background:#1d3557;
color:white;

}


td,th{

padding:10px;
border:1px solid #ddd;
text-align:center;

}


button{

background:#28a745;
color:white;
border:none;
padding:8px 15px;
border-radius:5px;

}
